.container{
    background-color: #202020;
    display: flex;
    align-items: center;
    padding: 20px;
}

.icon-menu{
    color: #fff;
    font-size: 25px;
    padding-left: 15px;
    cursor: pointer;
}

.icon-menu:hover{
    opacity: 70%;
}

.logo{
    width: 100px;
    padding-left: 30px;

}
.logo:hover{
    opacity: 70%;
    cursor: pointer;    
}

.icon-search{
    color: #fff;
    font-size: 25px;
    padding-left: 15px;
    position: absolute;
    right: 250px;
}

.icon-search:hover{
    opacity: 70%;
    cursor: pointer;
}

.button-entrar{
    position: absolute;
    right: 20px;
    color: white;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    opacity: 70%;
}

.button-entrar:hover{
    opacity: 100%;
    cursor: pointer;
}

.container2{
    background-color: #2b2b2b;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    opacity: 70%;
}

.lista-de-links_li{
    padding: 10px;
}

.lista-de-links{
    display: flex;
    font-size: 16px;
    align-items: center;
    padding-left: 0.3em;
}